html {
	width: 100vw;
	height: 100vh;
}

.tm-header{
	position: sticky;
	z-index: 2;
	top: 0;
	max-width: 1200px;
	margin: 0 auto;
	padding: 70px;
}
body{
	background: #3f403f;
	padding: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

}
hr{
	border: 0;
	border-top: 4px solid yellow;
	margin: 20px 0;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: auto;
	margin-inline-end: auto;
}
.photo{
	background-color: #4f4f4f;

}

.dav{
	display: flex;
	justify-content:center;
	/*padding: 15px;
	padding: 10px 20px;*/
	margin: 0 auto;
	padding: 0 auto;



}
.sudoku{
	margin-right:20px;
}
.serviceyellow{
	color: yellow;
	font-size: 30px;
}
.available{
	color: white;
	font-size: 40px;
}
.made{
	color: white;
	font-size: 25px;
}
.maden{
	color: white;
	font-size: 25px;
}
.photo1{
	display: flex;
	justify-content: center;
}
.lastes{
	color: white;
	font-size: 35px;
}
.foot{

	display: flex;
	justify-content: center;
	color: white;
}

.feet{
	width: 50%;
	text-align: right;
	background-color: grey;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	color: white;
	height: 40px;
	margin: 0;
	font-size: 17px;


}

.feet p{
	margin: 17px 0;
}
